*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #282828;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4646;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: #aaaaaa;
}

nav ul li a:hover{
    text-decoration: none;
    color: #f9f3f3;
}

.left{
    margin-left: 12px;
    font-size: 1.5rem;
}

.right{
    margin-right: 12px;
}

.intro-sec{
    display: flex;
    justify-content: space-evenly;
    height: 15rem;
    margin: 80px 0;
}

.section1{
    font-size: 2rem;
    width: 30%;
    color: #aaaaaa;
    margin: 50px 0;
}

.section2{
    width: 30%;
}

.section2 img{
    /* padding: 15%; */
    width: 80%;
}

.name-big{
    color: bisque;
}